<h1>Listing case_sensitives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @case_sensitives.each do |case_sensitive| %>
      <tr>
        <td><%= case_sensitive.name %></td>
        <td><%= link_to 'Show', case_sensitive %></td>
        <td><%= link_to 'Edit', edit_case_sensitive_path(case_sensitive) %></td>
        <td><%= link_to 'Destroy', case_sensitive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case sensitive', new_case_sensitive_path %>
