<h1>Listing case_insensitives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @case_insensitives.each do |case_insensitive| %>
      <tr>
        <td><%= case_insensitive.name %></td>
        <td><%= link_to 'Show', case_insensitive %></td>
        <td><%= link_to 'Edit', edit_case_insensitive_path(case_insensitive) %></td>
        <td><%= link_to 'Destroy', case_insensitive, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case insensitive', new_case_insensitive_path %>
